.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.mat-mdc-button-base {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}

.mat-toolbar {
  height: 55px;
}
