<ng-container *ngIf="!isUserSet; else header">
  <app-loader></app-loader>
</ng-container>

<ng-template #header>
  <mat-toolbar color="primary">
    <span class="logo-container">
      <a routerLink="/">
        <img src="/assets/images/coe-logos/coe-logo_black.png" alt="coe-logo" />
      </a>
    </span>
    <span class="spacer"></span>
    <nav mat-tab-nav-bar>
      <mat-nav-list class="nav-links">
        <a mat-raised-button color="accent" routerLink="/"> Home </a>
        <a mat-raised-button color="accent" routerLink="/openings/catalog">
          Openings
        </a>

        <ng-container *ngIf="user">
          <a mat-raised-button color="accent" routerLink="/openings/create"
            >Create
          </a>
          <a mat-raised-button color="accent" routerLink="/auth/profile"
            >Profile
          </a>
          <a mat-raised-button color="accent" routerLink="/auth/logout"
            >Logout
          </a>
        </ng-container>

        <ng-container *ngIf="!user">
          <a mat-raised-button color="accent" routerLink="/auth/login"
            >Login
          </a>
          <a mat-raised-button color="accent" routerLink="/auth/register"
            >Register
          </a>
        </ng-container>
      </mat-nav-list>
    </nav>
  </mat-toolbar>
</ng-template>
