<ng-container *ngIf="!isUserSet; else header">
  <app-loader></app-loader>
</ng-container>

<ng-template #header>
  <mat-toolbar color="primary">
    <a routerLink="/" class="flex justify-center items-center">
      <img
        src="/assets/images/coe-logos/coe-logo_black.png"
        alt="coe-logo"
        class="hidden lg:flex w-72 h-auto"
      />
      <img
        *ngIf="!isMobileMenuOpen"
        src="/assets/images/coe-logos/coe-logo_black_mobile.png"
        alt="coe-mobile-logo"
        class="lg:hidden w-12 h-auto"
      />
    </a>

    <span class="spacer"></span>

    <nav mat-tab-nav-bar>
      <mat-nav-list class="nav-links">
        <div class="hidden lg:flex gap-2 justify-center items-center">
          <a mat-raised-button color="accent" routerLink="/">
            home
            <fa-icon [icon]="faHome"></fa-icon>
          </a>
          <a mat-raised-button color="accent" routerLink="/openings/catalog">
            openings
            <fa-icon [icon]="faBook"></fa-icon>
          </a>

          <ng-container *ngIf="user">
            <a mat-raised-button color="accent" routerLink="/openings/create">
              create
              <fa-icon [icon]="faPlus"></fa-icon>
            </a>
            <a mat-raised-button color="accent" routerLink="/auth/profile">
              {{ user.email!.split("@")[0] | slice : 0 : 8 }}
              <fa-icon [icon]="faUser"></fa-icon>
            </a>
            <a mat-raised-button color="accent" routerLink="/auth/logout">
              logout
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
            </a>
          </ng-container>

          <ng-container *ngIf="!user">
            <a mat-raised-button color="accent" routerLink="/auth/login">
              login
              <fa-icon [icon]="faSignInAlt"></fa-icon>
            </a>
            <a mat-raised-button color="accent" routerLink="/auth/register">
              register
              <fa-icon [icon]="faUserPlus"></fa-icon>
            </a>
          </ng-container>
        </div>

        <svg
          (click)="openMobileMenu()"
          class="h-6 w-6 lg:hidden cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </mat-nav-list>
    </nav>
  </mat-toolbar>

  <app-mobile-menu
    *ngIf="isMobileMenuOpen"
    [user]="user"
    (isMobileMenuOpenChange)="handleCloseMobileMenu($event)"
  ></app-mobile-menu>
</ng-template>
