<div class="openings-catalog">
  <div class="container">
    <h2 class="title">Browse Catalog</h2>
    <mat-slide-toggle [checked]="isDynamicSearch" (change)="toggleSearchMode()">
      <span>{{ isDynamicSearch == true ? "Dynamic" : "Manual" }} Search </span>
    </mat-slide-toggle>
    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        [placeholder]="
          isDynamicSearch == true ? 'Search as you type' : 'Search openings'
        "
        (keydown.enter)="searchHandler()"
        (input)="isDynamicSearch && searchHandler()"
      />
      <button
        type="button"
        (click)="searchHandler()"
        *ngIf="isDynamicSearch == false"
      >
        Search
      </button>
    </div>
  </div>

  <div class="openings-grid" *ngIf="filteredOpenings">
    <div
      class="opening-card"
      *ngFor="let opening of filteredOpenings; let i = index"
    >
      <div class="opening-image">
        <img [src]="randomChessPieceImgs[i]" alt="Opening {{ i + 1 }}" />
      </div>

      <div class="opening-details">
        <h2 class="opening-title">
          {{ opening.name | slice : 0 : 16 }}
          {{ opening.name.length > 16 ? "..." : "" }}
        </h2>
        <p class="opening-description">
          {{ opening.description | slice : 0 : 20 }}
          {{ opening.description.length > 20 ? "..." : "" }}
        </p>
        <a
          mat-stroked-button
          class="view-details"
          routerLink="/openings/details/{{ opening.id }}"
          >Details</a
        >
      </div>
    </div>
  </div>
</div>
