<div class="catalog-container bg-custom-gray lg:bg-chess bg-cover bg-center">
  <div class="text-center">
    <h2 class="title">Browse Openings</h2>
    <mat-slide-toggle [checked]="isDynamicSearch" (change)="toggleSearchMode()">
      <span class="ml-1"
        >{{ isDynamicSearch == true ? "Dynamic" : "Manual" }} Search
      </span>
    </mat-slide-toggle>
  </div>

  <div
    class="search-bar flex justify-center items-center m-6"
    [ngClass]="{
      'pointer-events-none opacity-40': showNoOpeningsMsg || isLoading
    }"
  >
    <input
      #searchInput
      type="text"
      class="w-96"
      [(ngModel)]="searchQuery"
      [placeholder]="
        isDynamicSearch == true ? 'Search as you type' : 'Search openings'
      "
      (keydown.enter)="searchHandler()"
      (input)="isDynamicSearch && searchHandler()"
    />
    <div
      matTooltip="Press '/' to focus the search field"
      class="ml-2 w-3 h-4 p-3 hidden lg:flex items-center justify-center bg-white rounded-md"
      *ngIf="isDynamicSearch"
    >
      <div class="">/</div>
    </div>
    <button
      type="button"
      class="ml-2"
      (click)="searchHandler()"
      *ngIf="!isDynamicSearch"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
        />
      </svg>
    </button>
  </div>

  <div class="container mx-auto">
    <ng-container *ngIf="isLoading; else openingsData">
      <app-loader></app-loader>
    </ng-container>

    <ng-template #openingsData>
      <div class="openings-grid px-6 mb-10" *ngIf="filteredOpenings">
        <div
          class="opening-card relative"
          *ngFor="let opening of filteredOpenings; let i = index"
        >
          <div
            matTooltip="{{ opening.description }}"
            class="w-fit bg-white rounded-tr-md rounded-bl-md absolute right-0 top-0"
          >
            <h3 class="px-1 m-1">
              <fa-icon [icon]="faInfoCircle"></fa-icon>
            </h3>
          </div>

          <div class="opening-image">
            <img [src]="randomChessPieceImgs[i]" alt="Opening {{ i + 1 }}" />
          </div>

          <div class="opening-details">
            <h2 class="opening-title">
              {{ opening.name | slice : 0 : 16 }}
              {{ opening.name.length > 16 ? "..." : "" }}
            </h2>
            <p class="opening-description">
              {{ opening.description | slice : 0 : 20 }}
              {{ opening.description.length > 20 ? "..." : "" }}
            </p>
            <a
              mat-stroked-button
              class="view-details"
              routerLink="/openings/details/{{ opening.id }}"
              >Details</a
            >
          </div>
        </div>
      </div>
    </ng-template>

    <div class="no-results-message" *ngIf="showNoResultsMsg">
      <p class="message">
        No matching openings found.
        <span class="hidden sm:block"
          >Please try a different search query.</span
        >
      </p>
    </div>

    <div class="no-openings-message" *ngIf="showNoOpeningsMsg">
      <app-no-openings-msg
        [message]="
          'No chess openings available at the moment. We\'re constantly updating, so please come back later.'
        "
        [imageUrl]="'/assets/images/coming-soon.png'"
      ></app-no-openings-msg>
    </div>
  </div>
</div>
