<div class="openings-catalog">
  <div class="container">
    <h2 class="title">Browse Catalog</h2>
    <div class="search-bar">
      <input type="text" placeholder="Search openings" />
      <button type="button">Search</button>
    </div>
  </div>

  <div class="openings-grid">
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
    <div class="opening-card">
      <div class="opening-image">
        <img src="/assets/images/1.jpg" alt="Opening 2" />
      </div>
      <div class="opening-details">
        <h2 class="opening-title">Opening 1</h2>
        <p class="opening-description">
          Description of Opening 1, Description of Opening 1
        </p>
        <a mat-stroked-button class="view-details">Learn</a>
      </div>
    </div>
  </div>
</div>
