<body>
  <div class="relative">
    <div class="circle-container absolute top-0 left-0 right-0 bottom-0">
      <div class="absolute w-52 h-52 rounded-full top-left"></div>
      <div class="absolute w-52 h-52 rounded-full bot-right"></div>
    </div>
    <form
      #loginForm="ngForm"
      (ngSubmit)="loginHandler(loginForm)"
      class="w-60 sm:w-96"
    >
      <h3>Login</h3>

      <label for="email">Email</label>
      <input
        type="email"
        placeholder="Email address"
        id="email"
        name="email"
        #emailInput="ngModel"
        ngModel
        required
        email
      />

      <ng-container *ngIf="emailInput.touched || emailInput.dirty">
        <p class="error" *ngIf="emailInput.errors?.['required']">
          Email is required
        </p>
        <p class="error" *ngIf="emailInput.errors?.['email']">
          Please provide a valid email address
        </p>
      </ng-container>

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        id="password"
        name="password"
        #passInput="ngModel"
        ngModel
        required
      />

      <ng-container *ngIf="passInput.touched || passInput.dirty">
        <p class="error" *ngIf="passInput.errors?.['required']">
          Password is required
        </p>
      </ng-container>

      <p id="registerMsg">
        Don't have an account?
        <a class="no-underline hover:underline" routerLink="/auth/register"
          >Register now.</a
        >
      </p>

      <button [disabled]="isSigningIn" [class.loading]="isSigningIn">
        {{ isSigningIn ? "Signing in..." : "Sign in" }}
      </button>
    </form>
  </div>
</body>
