<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form>
      <h3>Login Form</h3>

      <label for="username">Email</label>
      <input type="text" placeholder="Email address" id="username" />

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password" />

      <p id="registerMsg">
        Don't have an account? <a routerLink="/auth/register">Register now.</a>
      </p>
      <button>Sign in</button>
    </form>
  </body>
</html>
