<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Register Form</h3>

    <label for="email">Email</label>
    <input type="text" placeholder="Email address" id="email" name="email" />

    <label for="password">Password</label>
    <input
      type="password"
      placeholder="Password"
      id="password"
      name="password"
    />

    <label for="repass">Confirm</label>
    <input
      type="password"
      placeholder="Confirm password"
      id="repass"
      name="repass"
    />

    <p id="loginMsg">
      Already have an account?
      <a routerLink="/auth/login">Login now.</a>
    </p>
    <button>Sign up</button>
  </form>
</body>
