<body>
  <div class="relative">
    <div class="circle-container absolute top-0 left-0 right-0 bottom-0">
      <div class="absolute w-52 h-52 rounded-full top-left"></div>
      <div class="absolute w-52 h-52 rounded-full bot-right"></div>
    </div>
    <form
      #registerForm="ngForm"
      (ngSubmit)="registerHandler(registerForm)"
      class="w-60 sm:w-96"
    >
      <h3>Register</h3>

      <label for="email">Email</label>
      <input
        type="email"
        placeholder="Email address"
        id="email"
        name="email"
        #emailInput="ngModel"
        ngModel
        required
        email
      />

      <ng-container *ngIf="emailInput.touched || emailInput.dirty">
        <p class="error" *ngIf="emailInput.errors?.['required']">
          Email is required
        </p>
        <p class="error" *ngIf="emailInput.errors?.['email']">
          Please provide a valid email address
        </p>
      </ng-container>

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        id="password"
        name="password"
        #passInput="ngModel"
        ngModel
        required
        minlength="6"
      />

      <ng-container *ngIf="passInput.touched || passInput.dirty">
        <p class="error" *ngIf="passInput.errors?.['required']">
          Password is required
        </p>
        <p class="error" *ngIf="passInput.errors?.['minlength']">
          Password must be at least
          {{passInput.errors?.['minlength']['requiredLength']}} characters long
        </p>
      </ng-container>

      <label for="repass">Confirm</label>
      <input
        type="password"
        placeholder="Confirm password"
        id="repass"
        name="repass"
        #repassInput="ngModel"
        ngModel
        [compareWith]="passInput"
        required
        minlength="6"
      />

      <ng-container *ngIf="repassInput.touched || repassInput.dirty">
        <p class="error" *ngIf="repassInput.errors?.['required']">
          Please confirm your password
        </p>
        <p class="error" *ngIf="repassInput.errors?.['passDontMatch']">
          Passwords do not match
        </p>
      </ng-container>

      <p id="loginMsg">
        Already have an account?
        <a class="no-underline hover:underline" routerLink="/auth/login"
          >Login now.</a
        >
      </p>
      <button>Sign up</button>
    </form>
  </div>
</body>
