<footer>
  <mat-toolbar color="primary" class="footer-toolbar">
    <div class="footer-content">
      <div class="footer-left">
        <span class="footer-title">Chess Opening Explorer</span>
      </div>
      <div class="footer-right">
        <div class="social-icons">
          <a
            href="https://github.com/danielzlatanov"
            target="_blank"
            rel="noopener noreferrer"
          >
            <fa-icon [icon]="faGithubSquare"></fa-icon>
          </a>
          <a
            href="https://www.linkedin.com/in/daniel-zlatanov-15a18b227/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
          <a
            href="https://reddit.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <fa-icon [icon]="faRedditSquare"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-toolbar>
</footer>
