<div class="profile-container">
  <h1>Your Profile</h1>
  <div class="top-sections">
    <div class="personal-info section">
      <h2>Personal Information <fa-icon [icon]="faUser"></fa-icon></h2>
      <div class="divider"></div>
      <div class="info" *ngIf="user">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Account Created:</strong> {{ euTime }}</p>
      </div>
    </div>

    <div class="openings-explored section">
      <h2>Openings Explored <fa-icon [icon]="faChessKnight"></fa-icon></h2>
      <div class="divider"></div>
      <div class="info" *ngFor="let opening of exploredOpenings">
        <ul>
          <a routerLink="/openings/details/{{ opening.id }}">
            <li>{{ opening.name }}</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="favorite-openings section">
      <h2>Favourite Openings <fa-icon [icon]="faStar"></fa-icon></h2>
      <div class="divider"></div>
      <div class="info" *ngFor="let opening of favOpenings">
        <ul>
          <a routerLink="/openings/details/{{ opening.id }}">
            <li>{{ opening.name }}</li>
          </a>
        </ul>
      </div>
    </div>
  </div>

  <div class="my-openings section">
    <h2 class="section-title">
      Openings Created by Me <fa-icon [icon]="faChessBoard"></fa-icon>
    </h2>
    <div class="divider"></div>
    <div class="openings-list" *ngIf="userOwnOpenings">
      <div class="opening-item" *ngFor="let opening of userOwnOpenings">
        <h4 class="opening-title">
          {{ opening.name | slice : 0 : 20 }}
          {{ opening.name.length > 20 ? "..." : "" }}
        </h4>
        <p class="opening-description">
          {{ opening.description | slice : 0 : 20 }}
          {{ opening.description.length > 20 ? "..." : "" }}
        </p>

        <div class="opening-actions">
          <button class="edit-button">Edit</button>
          <button class="delete-button">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
