.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.divider {
  height: 2px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.info p {
  font-size: 16px;
  margin-bottom: 5px;
}

.openings-list {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.opening-item {
  background-color: #d1d1d1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opening-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.opening-description {
  font-size: 14px;
  color: #666;
}

.opening-actions {
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  margin-right: 5px;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgb(203, 199, 196);
  height: 100%;
}

.top-sections {
  display: flex;
  justify-content: center;
  width: 80%;
}

.section {
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
}

.openings-explored .info ul,
.favorite-openings .info ul {
  padding: 0;
}

.openings-explored,
.favorite-openings {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 200px;
}

.openings-explored .info,
.favorite-openings .info {
  flex: 0 0 33%;
  max-width: 33%;
}

.openings-explored .info li,
.favorite-openings .info li {
  list-style-type: none;
  color: #333;
  width: 90px;
  height: 55px;
  padding: 5px 10px;
  border-radius: 5px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.openings-explored .info li {
  background-color: #00bcd4;
}
.favorite-openings .info li {
  background-color: #00b894;
}

.my-openings {
  width: 80%;
}

.openings-list {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-height: 280px;
  overflow-y: auto;
}
