<div class="home-container">
  <h1>Welcome to Chess Opening Explorer</h1>
  <p>Explore and learn various chess openings</p>

  <h2>Featured Openings</h2>
  <div class="featured-openings" *ngIf="lastThreeOpenings">
    <div
      class="opening-card"
      *ngFor="let opening of lastThreeOpenings; let i = index"
    >
      <img [src]="getRandomChessPieceImg()" alt="Opening {{ i + 1 }} IMG" />

      <h3>
        {{ opening.name | slice : 0 : 16 }}
        {{ opening.name.length > 16 ? "..." : "" }}
      </h3>
      <p>
        {{ opening.description | slice : 0 : 20 }}
        {{ opening.description.length > 20 ? "..." : "" }}
      </p>
      <a routerLink="/openings/details/{{ opening.id }}">Learn More</a>
    </div>
  </div>
</div>
