<ng-container *ngIf="mode == 'edit' && isLoading; else editOpeningData">
  <app-loader></app-loader>
</ng-container>

<ng-template #editOpeningData>
  <body>
    <div id="title">
      <h2 *ngIf="mode == 'create'" class="mb-6 lg:mb-20">Create Opening</h2>
      <h2 *ngIf="mode == 'edit'" class="mb-6 lg:mb-20">Edit Your Opening</h2>
    </div>

    <div class="flex flex-col lg:flex-row justify-center">
      <form
        #editorBaseForm="ngForm"
        (ngSubmit)="handleSubmit(editorBaseForm)"
        class="lg:mr-10 mb-10 container mx-auto lg:ml-10"
      >
        <div class="form-group mx-6">
          <label
            for="name"
            *ngIf="mode == 'create'"
            class="block text-gray-700 mb-2"
            >Opening name<span class="required-star">*</span></label
          >
          <label
            for="name"
            *ngIf="mode == 'edit'"
            class="block text-gray-700 mb-2"
            >New opening name<span class="required-star">*</span></label
          >
          <input
            type="text"
            class="w-full py-3 pl-3 box-border border-0 rounded focus:outline-none"
            id="name"
            name="name"
            ngModel="{{ mode == 'edit' ? opening?.name : '' }}"
            #nameInput="ngModel"
            required
            minlength="5"
          />

          <ng-container *ngIf="nameInput.touched || nameInput.dirty">
            <p class="error" *ngIf="nameInput.errors?.['required']">
              Opening name is required
            </p>
            <p class="error" *ngIf="nameInput.errors?.['minlength']">
              Opening name must be at least
              {{nameInput.errors?.['minlength']['requiredLength']}} characters
              long
            </p>
          </ng-container>
        </div>

        <div class="form-group mx-6">
          <label
            for="description"
            *ngIf="mode == 'create'"
            class="block text-gray-700 mb-2"
            >Strategy description<span class="required-star">*</span>
          </label>
          <label
            for="description"
            *ngIf="mode == 'edit'"
            class="block text-gray-700 mb-2"
            >Update description<span class="required-star">*</span>
          </label>
          <textarea
            class="w-full h-36 py-3 pl-3 box-border border-0 rounded focus:outline-none resize-none"
            id="description"
            name="description"
            ngModel="{{ mode == 'edit' ? opening?.description : '' }}"
            #descriptionInput="ngModel"
            required
            minlength="20"
          ></textarea>

          <ng-container
            *ngIf="descriptionInput.touched || descriptionInput.dirty"
          >
            <p class="error" *ngIf="descriptionInput.errors?.['required']">
              Description is required
            </p>
            <p class="error" *ngIf="descriptionInput.errors?.['minlength']">
              Description must be at least
              {{descriptionInput.errors?.['minlength']['requiredLength']}}
              characters long
            </p>
          </ng-container>
        </div>

        <div class="form-group mx-6">
          <label for="fen" class="block text-gray-700 mb-2"
            >Forsyth-Edwards notation (FEN)<span class="required-star"
              >*</span
            ></label
          >
          <input
            type="text"
            class="w-full py-3 pl-3 box-border border-0 rounded focus:outline-none"
            id="fen"
            name="fen"
            ngModel="{{ mode == 'edit' ? opening?.fen : '' }}"
            #fenInput="ngModel"
            required
            [pattern]="fenPattern"
          />
          <ng-container *ngIf="fenInput.touched || fenInput.dirty">
            <p class="error" *ngIf="fenInput.errors?.['required']">
              FEN is required
            </p>
            <p class="error" *ngIf="fenInput.errors?.['pattern']">
              Please provide a valid FEN position
            </p>
          </ng-container>
          <button
            type="button"
            *ngIf="!fenInput.errors"
            (click)="showPositionOnBoard(fenInput.value)"
          >
            Display FEN Position
          </button>
        </div>

        <div class="sm:flex justify-between items-start">
          <div class="form-group mx-6">
            <mat-form-field>
              <mat-label>Difficulty Level</mat-label>
              <mat-select
                name="level"
                ngModel="{{ mode == 'edit' ? opening?.level : '' }}"
                #difficultyInput="ngModel"
                required
              >
                <mat-option *ngFor="let level of levels" [value]="level">
                  {{ level }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <ng-container
              *ngIf="difficultyInput.touched || difficultyInput.dirty"
            >
              <p class="error" *ngIf="difficultyInput.errors?.['required']">
                Difficulty level is required
              </p>
            </ng-container>
          </div>

          <button
            type="submit"
            class="bg-blue-500 h-auto hover:bg-blue-600 text-white cursor-pointer p-3 text-lg border-none rounded-md mx-6"
          >
            <span *ngIf="mode == 'create'">Create</span>
            <span *ngIf="mode == 'edit'">Update</span>
          </button>
        </div>
      </form>

      <div
        *ngIf="fenValue || mode == 'create'"
        class="flex justify-center items-center mb-20 lg:mr-16"
      >
        <app-chessboard [fen]="fenValue"></app-chessboard>
      </div>

      <div
        *ngIf="opening && mode == 'edit' && !fenValue"
        class="flex justify-center items-center mb-20 lg:mr-12"
      >
        <app-chessboard [fen]="opening.fen"></app-chessboard>
      </div>
    </div>
  </body>
</ng-template>
