<ng-container *ngIf="mode == 'edit' && isLoading; else editOpeningData">
  <app-loader></app-loader>
</ng-container>

<ng-template #editOpeningData>
  <body>
    <div id="title">
      <h2 *ngIf="mode == 'create'">Create Opening</h2>
      <h2 *ngIf="mode == 'edit'">Edit Your Opening</h2>
    </div>

    <div class="create-opening-container">
      <form #editorBaseForm="ngForm" (ngSubmit)="handleSubmit(editorBaseForm)">
        <div class="form-group">
          <label for="name" *ngIf="mode == 'create'"
          <label
            for="name"
            *ngIf="mode == 'create'"
            class="block text-gray-700 mb-2"
            >Opening name<span class="required-star">*</span></label
          >
          <label
            for="name"
            *ngIf="mode == 'edit'"
            class="block text-gray-700 mb-2"
            >New opening name<span class="required-star">*</span></label
          >
          <input
            type="text"
            id="name"
            name="name"
            ngModel="{{ mode == 'edit' ? opening?.name : '' }}"
            #nameInput="ngModel"
            required
            minlength="5"
          />

          <ng-container *ngIf="nameInput.touched || nameInput.dirty">
            <p class="error" *ngIf="nameInput.errors?.['required']">
              Opening name is required
            </p>
            <p class="error" *ngIf="nameInput.errors?.['minlength']">
              Opening name must be at least
              {{nameInput.errors?.['minlength']['requiredLength']}} characters
              long
            </p>
          </ng-container>
        </div>

        <div class="form-group">
          <label
            for="description"
            *ngIf="mode == 'create'"
            class="block text-gray-700 mb-2"
            >Strategy description<span class="required-star">*</span>
          </label>
          <label
            for="description"
            *ngIf="mode == 'edit'"
            class="block text-gray-700 mb-2"
            >Update description<span class="required-star">*</span>
          </label>
          <textarea
            id="description"
            name="description"
            ngModel="{{ mode == 'edit' ? opening?.description : '' }}"
            #descriptionInput="ngModel"
            required
            minlength="20"
          ></textarea>

          <ng-container
            *ngIf="descriptionInput.touched || descriptionInput.dirty"
          >
            <p class="error" *ngIf="descriptionInput.errors?.['required']">
              Description is required
            </p>
            <p class="error" *ngIf="descriptionInput.errors?.['minlength']">
              Description must be at least
              {{descriptionInput.errors?.['minlength']['requiredLength']}}
              characters long
            </p>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="fen"
          <label for="fen" class="block text-gray-700 mb-2"
            >Forsyth-Edwards notation (FEN)<span class="required-star"
              >*</span
            ></label
          >
          <input
            type="text"
            id="fen"
            name="fen"
            ngModel="{{ mode == 'edit' ? opening?.fen : '' }}"
            #fenInput="ngModel"
            required
            [pattern]="fenPattern"
          />
          <ng-container *ngIf="fenInput.touched || fenInput.dirty">
            <p class="error" *ngIf="fenInput.errors?.['required']">
              FEN is required
            </p>
            <p class="error" *ngIf="fenInput.errors?.['pattern']">
              Please provide a valid FEN position
            </p>
          </ng-container>
          <button
            type="button"
            *ngIf="!fenInput.errors"
            (click)="showPositionOnBoard(fenInput.value)"
          >
            Display FEN Position
          </button>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Difficulty Level</mat-label>
            <mat-select
              name="level"
              ngModel="{{ mode == 'edit' ? opening?.level : '' }}"
              #difficultyInput="ngModel"
              required
            >
              <mat-option *ngFor="let level of levels" [value]="level">
                {{ level }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container
            *ngIf="difficultyInput.touched || difficultyInput.dirty"
          <button
            type="submit"
            class="bg-blue-500 h-auto hover:bg-blue-600 text-white cursor-pointer p-3 text-lg border-none rounded-md mx-6"
          >
            <p class="error" *ngIf="difficultyInput.errors?.['required']">
              Difficulty level is required
            </p>
          </ng-container>
            <span *ngIf="mode == 'create'">Create</span>
            <span *ngIf="mode == 'edit'">Update</span>
          </button>
        </div>
      </form>

      <div class="chess-board-container" *ngIf="fenValue || mode == 'create'">
        <app-chessboard [size]="500" [fen]="fenValue"></app-chessboard>
      </div>

      <div
        class="chess-board-container"
        *ngIf="opening && mode == 'edit' && !fenValue"
      >
        <app-chessboard [size]="500" [fen]="opening.fen"></app-chessboard>
      </div>
    </div>
  </body>
</ng-template>
